.reservation {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.reservation ul {
    list-style-type: none;
    border-bottom: 1px solid #333;
    padding: 1rem ;
    background-color: rgb(222, 231, 251);
    margin-bottom: 1rem;
    border-radius: 1rem;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.reservation ul .reser {
    background-color: rgb(38, 213, 3) !important;
    transition-duration: .4s;
}

.reservation ul .reser:hover {
    transform: scale(.9);
}

.reservation ul .schonReserviert {
    background-color: rgb(253, 127, 127);
    padding: .3rem .2rem;
}

.reservation ul button {
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: .6rem;
    border-radius: 1rem;
    border: none;
    margin: .5rem 0;
}

.reservation .deleteButton {
    background-color: rgb(255, 112, 112);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition-duration: .4s;

}

.reservation .deleteButton:hover {
    transform: scale(.9);
}

.reservieren div , .reserviert div{
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
}