nav {
    display: flex;
    background-color: #333;
    height: 100vh;
    padding: 1rem;
    width: 120px;
    position: sticky;
    top: 0;
    left: 0;
    
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    row-gap: 1rem;

}

nav ul li a {
    text-decoration: none ;
    color: aliceblue;
}

nav ul li a:hover {
    color: rgb(0, 123, 255)
}